.footer-flex-center{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.keybind{
    width: 70px;
    background: black;
    color: white;
    text-align: center;
    border-bottom: 4px solid white;
    margin-right: 10px;
    cursor: pointer;
}

.keybind-text{
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
}